@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import '../../../../vendor/filament/filament/resources/css/base.css';

@config 'tailwind.config.js';

.fi-simple-main-ctn {
    @apply justify-end;
}

/* Sidebar arka plan rengi */
.fi-sidebar {
    background-color: #22c1c3 !important;
}
